<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
</head>

<body style="font-family:Arial;text-align:center;background:#0f172a;color:white;">

    <h1>🧑‍💼 Admin Panel</h1>

    <h3>Total Bookings: {{ data|length }}</h3>

    <table border="1" style="margin:auto;color:white;border-collapse:collapse;width:80%;">
        <tr>
            <th>Name</th>
            <th>Vehicle</th>
            <th>Slot</th>
            <th>Time</th>
        </tr>

        {% for b in data %}
        <tr>
            <td>{{ b.name }}</td>
            <td>{{ b.vehicle }}</td>
            <td>{{ b.slot }}</td>
            <td>{{ b.time }}</td>
        </tr>
        {% endfor %}
    </table>

    <br><br>

    <a href="/" style="color:white;">⬅ Back Home</a>

</body>
</html>